.question_container{
    max-width: 500px;
    box-shadow: 0 5px 24px #867a7a;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
}
.quiz{
    text-align: center;
    text-shadow: 4px 2px 10px #796d6d85;
}
.question_form .submit{
    width: 100%;
    border: none;
    background-color: #1c1c4c;
    border-radius: 5px;
    padding: 7px;
    color: #fff;
    margin-top: 20px;
}
.question_form .radio{
    display: block;
    margin: 9px 0;
}